* {
  box-sizing: border-box;
}

#root {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #fff, #d3dcff, #fff);
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}